#navbar h1{
    float: none;
    text-align: center
  }


#navbar ul{
    list-style: none;
    float: none;
  }
  
#navbar ul li{
    float: none;
  }  

  
#navbar ul li a{
    padding: 10px;
  }

.container{
    padding: 0;
  }


  #showcase{
   height: 500px;
  }
.showcase-content{
    padding-top: 150px;
  }  


  
.showcase-content h1{
    font-size: 40px;
  }


  .info-img{
   display: none;
  }
  
  .info-content{
    padding: 50px 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    float: none;
    overflow: hidden
  }  


  
.box {
    float: none;
    width: 100%;
    padding: 30px;
    text-align: center;
  }


  #about-info .info-right {
    float: none;
    width: 100%;
    min-height: 100%;
  
  }


  #about-info .info-right img{
    display: block;
    margin: auto;
  }


  #about-info .info-left{
    text-align: center;
    float: none;
    width: 100%;
    padding: 20px;
  }


  #testimonials{
     padding:40px 20px 0 20px; 
  }


  #contact-form{
      text-align: center;
      padding: 20px;
      padding-top: 50px;
  }
  

  #contact-info .box{
    padding: 20px;  
  }